/* 添加 CSS */
body{
	font-family: sans-serif;
	text-align: center;
	position: relative;
	box-sizing: content-box;
}
h1{
	color: black;
	font-weight: bold;
	font-size: large;
	text-align: left;
	margin-left: 10px;
	
}
.image{
width: 300px;
height: 300px;
border: 0.5px black solid;
box-sizing: content-box;
}
.yinyin{
	border: 0.5px black solid;
	width: 320px;
	box-shadow: 10px 10px 5px 0px rgba(222,218,222,1);
	position: absolute;
	top: 50%;
	left: 40%;
}

div>div{
	border: 0.5px black solid;
	width: 300px; 
	margin-left: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
}
.list{
	list-style: none;
}